# Android
*.iml
.gradle
/local.properties
/build
app/build
/captures
.externalNativeBuild
.cxx

# IntelliJ / Android Studio
/.idea/
*.iws
*.ipr

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Kotlin
*.class

# Keystore
*.jks
*.keystore
